.description{
  display: inline-block;

  &__head{
    position: relative;
    font-weight: 800;
    font-size: 40px;
    line-height: 86px;

    text-transform: uppercase;

    color: #FFFFFF;

    .travel__star-list{
      position: absolute;
      right: -192px;
      top: 12px;
      li{
        display: inline-block;
        margin-left: -40px;
      }

      img{
        position: static;
      }
    }

    span{
      font-weight: 100;
    }
  }
}