.menu{
  padding-top: 40px;

  a{
    color: #FFFFFF;
    text-decoration: none;

    span{
      display: block;

      padding-top: 6px;
      margin-bottom: 22px;

      font-weight: 500;
      font-size: 12px;
      line-height: 14px;

      text-align: center;
      letter-spacing: 3px;

      color: #FFFFFF;
    }
  }
}