.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 48px;
  height: 42px;
  display: block;
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;

  color: #FFFFFF;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;

}

.quantity-button.quantity-up {
  position: absolute;
  top: 30px;
  right: -3px;
}

.quantity-button.quantity-down {
  position: absolute;
  top: 25px;
  right: 23px;
}