.surf{
  padding: 160px 0 210px;
  background-image: url("../img/surf-bg.svg");
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;

  .slick-current{
    .surf-box__inner-btn{
      display: block;
    }

    .surf-box__inner{
      background-color: rgba(#1C2121, .3);
    }

  }

}

.surf__subtitle{
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}

.surf-box{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  &__inner{
    min-height: 750px;
    background-color: rgba(#1C2121, .85);
    position: relative;
    transition: background-color ease-in-out .2s;

    &:hover{
      background-color: rgba(#1C2121, .3);
    }
  }

}

.surf-slider{
  padding-top: 110px;

  .slider-arrows{
    top: 50px;
    opacity: .25;
  }

}

.surf-box__inner-title{
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  width: 140px;
  padding: 72px 0 0 40px;

  text-transform: uppercase;

  color: #FFFFFF;
}

.surf-box__inner-location{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 8px;
  text-transform: uppercase;

  position: absolute;
  left: 40px;
  bottom: 80px;

  width: 0;
  height: 0;

  white-space: nowrap;
  color: #FFFFFF;

  transform: rotate(-90deg);
  span{
    font-weight: 100;
  }
}

.surf-box__inner-btn{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
